<a href="https://colab.research.google.com/github/arshya-garg/ISTE-Web-Dev-SMP/blob/main/Analytics_SMP_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing Python Libraries**

1.Importing & Reading DataSet

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
f = pd.read_csv('/content/drive/MyDrive/data/Climate.csv')

In [ ]:
f.describe()

       Pollution (AQI)  Temperature (C)  Rainfall (mm)
count        16.000000        16.000000      16.000000
mean        278.250000        25.187500    1452.062500
std         138.319196         5.075677     514.470662
min          39.000000        15.000000     600.000000
25%         173.750000        22.750000    1255.000000
50%         283.000000        26.500000    1670.000000
75%         401.500000        29.000000    1817.500000
max         463.000000        32.000000    1950.000000

2.Head and Tail Operations

In [ ]:
f.head(8)

            Date    City  Pollution (AQI)  Temperature (C)  Rainfall (mm)
0  1st Jan, 2018  Mumbai              285               27           1780
1  1st Jan, 2019  Mumbai              263               32           1870
2  1st Jan, 2020  Mumbai              248               29           1800
3  1st Jan, 2021  Mumbai              178               30           1750
4  1st Jan, 2018   Delhi              463               19            638
5  1st Jan, 2019   Delhi              439               15            600
6  1st Jan, 2020   Delhi              430               17            640
7  1st Jan, 2021   Delhi              406               19            625

In [ ]:
f.tail(7)

             Date     City  Pollution (AQI)  Temperature (C)  Rainfall (mm)
9   1st Jan, 2019  Chennai              161               30           1460
10  1st Jan, 2020  Chennai               54               28           1590
11  1st Jan, 2021  Chennai               39               27           1470
12  1st Jan, 2018  Kolkata              350               26           1780
13  1st Jan, 2019  Kolkata              400               24           1950
14  1st Jan, 2020  Kolkata              350               25           1890
15  1st Jan, 2021  Kolkata              281               26           1870

# **PYTHON DATA OPERATIONS**

## 1.Merging Dataframes (Pandas)

A) Inner Merge

In [ ]:
# importing pandas library
import pandas as pd 
 
# Define a dictionary containing organ donor data 
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K1', 'K0', 'K1'],
         'Name':['Somya', 'Aditya', 'Pratham', 'Raj'], 
        'Age':[27, 24, 22, 32],} 
   
# Define a dictionary containing organ donor data 
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K0', 'K0', 'K0'],
         'Organ Donor':['Yes', 'No', 'No', 'Yes'], 
        'Blood Group':['AB-', 'O+', 'A+', 'AB+']} 
 
# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data1)
 
# Convert the dictionary into DataFrame  
df2 = pd.DataFrame(data2) 
  
 
print(df1, "\n\n", df2,"\n") 

# using keys from left frame
res = pd.merge(df1, df2, how='inner', on=['key', 'key1'])
print(res)

  key key1     Name  Age
0  K0   K0    Somya   27
1  K1   K1   Aditya   24
2  K2   K0  Pratham   22
3  K3   K1      Raj   32

   key key1 Organ Donor Blood Group
0  K0   K0         Yes         AB-
1  K1   K0          No          O+
2  K2   K0          No          A+
3  K3   K0         Yes         AB+

  key key1     Name  Age Organ Donor Blood Group
0  K0   K0    Somya   27         Yes         AB-
1  K2   K0  Pratham   22          No          A+

B) Outer Merge

In [ ]:
res = pd.merge(df1, df2, how='outer', on=['key', 'key1'])
print(res)

  key key1     Name   Age Organ Donor Blood Group
0  K0   K0    Somya  27.0         Yes         AB-
1  K1   K1   Aditya  24.0         NaN         NaN
2  K2   K0  Pratham  22.0          No          A+
3  K3   K1      Raj  32.0         NaN         NaN
4  K1   K0      NaN   NaN          No          O+
5  K3   K0      NaN   NaN         Yes         AB+

C) Left Merge

In [ ]:
res = pd.merge(df1, df2, how='left', on=['key', 'key1'])
print(res)

  key key1     Name  Age Organ Donor Blood Group
0  K0   K0    Somya   27         Yes         AB-
1  K1   K1   Aditya   24         NaN         NaN
2  K2   K0  Pratham   22          No          A+
3  K3   K1      Raj   32         NaN         NaN

D) Right Merge

In [ ]:
res = pd.merge(df1, df2, how='right', on=['key', 'key1'])
print(res)

  key key1     Name   Age  Flight No. Destination
0  K0   K0    Harsh  27.0        4566     Chicago
1  K1   K0      NaN   NaN        3456       Tokyo
2  K2   K0  Samaira  22.0        2344      Mumbai
3  K3   K0      NaN   NaN        4354      Sydney

## 2.Concatenation of DataFrames (Pandas)

A) Concatenate (to get one data frame)

In [ ]:
# importing pandas library
import pandas as pd 
 
# Define a dictionary containing organ donor data 
data1 = {'Name':['Somya', 'Aditya', 'Pratham', 'Raj'], 
        'Age':[20, 19, 22, 18], 
       'Organ Donor':['Yes', 'No', 'No', 'Yes'],
       'Blood Group':['AB+', 'O+', 'AB+', 'AB-']} 
   
# Define a dictionary containing organ donor data
data2 = {'Name':['Rohan', 'Mayank', 'Sunit', 'Sammy'], 
        'Age':[20, 19, 21, 20], 
      'Organ Donor':['No', 'No', 'No', 'Yes'], 
        'Blood Group':['A+', 'O+', 'B+', 'AB-']} 
 
# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data1,index=[0, 1, 2, 3])
 
# Convert the dictionary into DataFrame  
df2 = pd.DataFrame(data2, index=[4, 5, 6, 7])
 
print(df1, "\n\n", df2, "\n") 

# using a .concat() method
res = pd.concat([df1,df2])
print(res)

      Name  Age Organ Donor Blood Group
0    Somya   20         Yes         AB+
1   Aditya   19          No          O+
2  Pratham   22          No         AB+
3      Raj   18         Yes         AB-

      Name  Age Organ Donor Blood Group
4   Rohan   20          No          A+
5  Mayank   19          No          O+
6   Sunit   21          No          B+
7   Sammy   20         Yes         AB-

      Name  Age Organ Donor Blood Group
0    Somya   20         Yes         AB+
1   Aditya   19          No          O+
2  Pratham   22          No         AB+
3      Raj   18         Yes         AB-
4    Rohan   20          No          A+
5   Mayank   19          No          O+
6    Sunit   21          No          B+
7    Sammy   20         Yes         AB-

B) Concatenate (to get one dataframe - side by side)

In [ ]:
res = pd.concat([df1,df2], axis=1)
print(res)

      Name   Age Organ Donor Blood Group    Name   Age Organ Donor Blood Group
0    Somya  20.0         Yes         AB+     NaN   NaN         NaN         NaN
1   Aditya  19.0          No          O+     NaN   NaN         NaN         NaN
2  Pratham  22.0          No         AB+     NaN   NaN         NaN         NaN
3      Raj  18.0         Yes         AB-     NaN   NaN         NaN         NaN
4      NaN   NaN         NaN         NaN   Rohan  20.0          No          A+
5      NaN   NaN         NaN         NaN  Mayank  19.0          No          O+
6      NaN   NaN         NaN         NaN   Sunit  21.0          No          B+
7      NaN   NaN         NaN         NaN   Sammy  20.0         Yes         AB-

## 3.Pivoting Dataframes

A) Pivot Dataframe (Single Index)

In [ ]:
# import python libraries
import pandas as pd

# Display Original Dataset
print(f, '\n\n')

# Pivot Dataset
df = f.pivot(index='Date', columns='City')

# Display pivoted Dataset
df

             Date     City  Pollution (AQI)  Temperature (C)  Rainfall (mm)
0   1st Jan, 2018   Mumbai              285               27           1780
1   1st Jan, 2019   Mumbai              263               32           1870
2   1st Jan, 2020   Mumbai              248               29           1800
3   1st Jan, 2021   Mumbai              178               30           1750
4   1st Jan, 2018    Delhi              463               19            638
5   1st Jan, 2019    Delhi              439               15            600
6   1st Jan, 2020    Delhi              430               17            640
7   1st Jan, 2021    Delhi              406               19            625
8   1st Jan, 2018  Chennai              105               29           1520
9   1st Jan, 2019  Chennai              161               30           1460
10  1st Jan, 2020  Chennai               54               28           1590
11  1st Jan, 2021  Chennai               39               27           1470
12  1st Jan, 2018  Kolkata              350               26           1780
13  1st Jan, 2019  Kolkata              400               24           1950
14  1st Jan, 2020  Kolkata              350               25           1890
15  1st Jan, 2021  Kolkata              281               26           1870

              Pollution (AQI)                      Temperature (C)        \
City                  Chennai Delhi Kolkata Mumbai         Chennai Delhi
Date
1st Jan, 2018             105   463     350    285              29    19
1st Jan, 2019             161   439     400    263              30    15
1st Jan, 2020              54   430     350    248              28    17
1st Jan, 2021              39   406     281    178              27    19

                             Rainfall (mm)
City          Kolkata Mumbai       Chennai Delhi Kolkata Mumbai
Date
1st Jan, 2018      26     27          1520   638    1780   1780
1st Jan, 2019      24     32          1460   600    1950   1870
1st Jan, 2020      25     29          1590   640    1890   1800
1st Jan, 2021      26     30          1470   625    1870   1750

B) Pivot Dataframe (Multiple Index)

In [ ]:
# import python libraries
import pandas as pd

# Display Original Dataset
print(f, '\n\n')

# Pivot Dataset
df = f.pivot_table(index=['City','Date'])

# Display Pivoted Dataframe
df

             Date     City  Pollution (AQI)  Temperature (C)  Rainfall (mm)
0   1st Jan, 2018   Mumbai              285               27           1780
1   1st Jan, 2019   Mumbai              263               32           1870
2   1st Jan, 2020   Mumbai              248               29           1800
3   1st Jan, 2021   Mumbai              178               30           1750
4   1st Jan, 2018    Delhi              463               19            638
5   1st Jan, 2019    Delhi              439               15            600
6   1st Jan, 2020    Delhi              430               17            640
7   1st Jan, 2021    Delhi              406               19            625
8   1st Jan, 2018  Chennai              105               29           1520
9   1st Jan, 2019  Chennai              161               30           1460
10  1st Jan, 2020  Chennai               54               28           1590
11  1st Jan, 2021  Chennai               39               27           1470
12  1st Jan, 2018  Kolkata              350               26           1780
13  1st Jan, 2019  Kolkata              400               24           1950
14  1st Jan, 2020  Kolkata              350               25           1890
15  1st Jan, 2021  Kolkata              281               26           1870

                       Pollution (AQI)  Rainfall (mm)  Temperature (C)
City    Date
Chennai 1st Jan, 2018              105           1520               29
        1st Jan, 2019              161           1460               30
        1st Jan, 2020               54           1590               28
        1st Jan, 2021               39           1470               27
Delhi   1st Jan, 2018              463            638               19
        1st Jan, 2019              439            600               15
        1st Jan, 2020              430            640               17
        1st Jan, 2021              406            625               19
Kolkata 1st Jan, 2018              350           1780               26
        1st Jan, 2019              400           1950               24
        1st Jan, 2020              350           1890               25
        1st Jan, 2021              281           1870               26
Mumbai  1st Jan, 2018              285           1780               27
        1st Jan, 2019              263           1870               32
        1st Jan, 2020              248           1800               29
        1st Jan, 2021              178           1750               30

Info about data

In [ ]:
f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             16 non-null     object
 1   City             16 non-null     object
 2   Pollution (AQI)  16 non-null     int64
 3   Temperature (C)  16 non-null     int64
 4   Rainfall (mm)    16 non-null     int64
dtypes: int64(3), object(2)
memory usage: 768.0+ bytes

# **Data Cleaning**

In [ ]:
f1 = pd.read_csv('/content/drive/MyDrive/data/Fortune_1000.csv')

1.Removing rows with empty values

In [ ]:
f1.dropna()
f1.dropna(subset=['Market Cap'], inplace = True) # Removing null value rows from a particular column

2.Replace Empty Values

In [ ]:
f1.fillna(30,inplace=True) # replacing all values across the dataframe

In [ ]:
f1["Market Cap"].fillna(50000,inplace=True) # replacing values only for specified column

3.Replacing null values using mean, medain, mode

In [ ]:
f2 = pd.read_csv('/content/drive/MyDrive/data/dirtydata.csv')

In [ ]:
# mean
x=f2["Calories"].mean()
f2["Calories"].fillna(x,inplace=True)

# median
x=f2["Calories"].median()
f2["Calories"].fillna(x,inplace=True)

# mode
x=f2["Calories"].mode()
f2["Calories"].fillna(x,inplace=True)