<a href="https://colab.research.google.com/github/arshya-garg/ISTE-Web-Dev-SMP/blob/main/Copy_of_Mu_Vu_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic Declaration and Datatypes

In [ ]:
 lock and keya=5  
p=6 # NOTE: WHEN EXECUTED, IT MUST RISE INDENDATION ERROR!
print(a)
print(p) IIIT the TT TT ty to the time TT to get the

SyntaxError: ignored

In [ ]:
a = 3  # int
b = 5.6  # float
s = 'ISTE2022'  # str
x,y,z = 1,2.5,'3'   # multiple assignment
imagine=5+7j
null=NoneYe
print(a)
print(b)
print(s)(+_+):'(
print(x,type(x))
print(y,type(y))e,iu ii
print(z,type(z))
print(imagine,type(imagine))
print(null,typ ohh cc f d f in n zx cg  y  d⚽⚽😞😞👍🔵🎉🎉🎉🎉🙏🏼😁😁😋🤗🤗🤗🤗🤗🤗😔🤗🤗🤗🤗🤗🤗😔🤗💀😚😁❤️😁❤️😁❤️😁🥲😁🥲😁❤️😁💀❤️🚬😁🥺🔵👍e(null))

SyntaxError: ignored

Naming rules
*   Variables can only contain letters, numbers, and underscores. Variable names can start with a letter or an underscore, but can not start with a number.**Special symbols ($#% etc) are not allowed**
*   Spaces are not allowed in variable names, so we use underscores instead of spaces. For example, use student_name instead of "student name".
* You cannot use Python keywords as variable names.
--------------------------------------------------------------------------------

#Basic i/p o/p

In [ ]:
print("This is combined output",a,b)
print("This is also combined",a,b,sep="##",end='$$') # Seperates it with ## and ends the output with $$ instead of new line character
print("One more combined output",a,b,sep='%%',end='END') # As Previous statement didnt end with new line character, It continues to print where it left
print() # Just to make sure next print statement prints on a new line
print(5+3,6>3,'a'+'b') 
print(3==2,5==2 or 7>3,not(5!=4))
#relational operators: > ,<,<=,>=,==,!=
#logical operators: and not or

NameError: ignored

In [ ]:
mystring=input("Enter the input") #Enter integer value and check
mystring=int(mystring)
print(mystring,type(mystring))

KeyboardInterrupt: ignored

#Conditions:if,elif,else

In [ ]:
a = 5
  a=a+6   # Statements
print(a)

11

In [ ]:
a = 4
if a>4:
  print(a," > 4")
elif a<4:   # Else if condition:
  print(a," < 4")
else:
  print(a," = 4")

4  = 4

In [ ]:
if a>3:    # Note indentation
  if a<7:
        print(a," greater than 3 and less than 7")
  else:
        print(a,"greater than 3 but not less than 7")
else:
    print("hello")

4  greater than 3 and less than 7

#Loops:For,while

In [ ]:
#loop
# for loop
#syntax
#for x in range(start,end+1)
#lets print number from 1 to 5
for x in range(1,6):
  print(x)
#lower bound is always included***
#upper bound is always excluded

print("------------------------")
# #increment the number by 2
for x in range(1,6,2):
  print(x)
print("------------------------")
# print number from 5 to 0
for x in range(5,-1,-1):
  print(x)
print("------------------------")
# # what if only upper bound is given 
for x in range(6):
  print(x)

1
2
3
4
5
------------------------
1
3
5
------------------------
5
4
3
2
1
0
------------------------
0
1
2
3
4
5

In [ ]:
# continue statement 
# SKips remaining statements and goes to next iteration
y=0
for x in range(1,5):
	if x==1:
		continue
	print(x)
	y=y+2
print("y = ",y)

2
3
4
y =  6

In [ ]:
# break statement
# Exits the loops
y=0
for x in range(1,5):
	if x==3:
		break
	print(x)
	y=y+1
print("y = ",y)

1
2
y =  2

In [ ]:
# while loop
# syntax
# while(condition):
#print number from 1 to 5
x=2
while x<=5:
    print(x)
    x=x+1

2
3
4
5

In [ ]:
#continue statement in while
x=1
while x<=5:
  if x==1:
    x=x+1
    continue
    
  print(x)
  x=x+1
print("--------------------")
#break statement in while
x=1
while x<=5:
  if x==3:
    break
  print(x)
  x=x+1

2
3
4
5
--------------------
1
2

#Lists,Sets and Tuples

In [ ]:
a=[5,6,7]
b=[4.5,'SGP2021']

mt=[]
c=list()
# d=range(10)
# print(d,type(d))
d=list(range(1,10,1)) #range(a, b,c) generates a range of numbers from a to b-1 with step size of c
print(a,b,type(b),c,d,sep='\n')

[5, 6, 7]
[4.5, 'SGP2021']
<class 'list'>
[]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a=[0]*5 # List a with five 0's
print(a)
b=[[2,3,4],[7,6,8],[8,9]] # List of Lists (Analogy for Matrix)
print(b)

[0, 0, 0, 0, 0]
[[2, 3, 4], [7, 6, 8], [8, 9]]

In [ ]:
a=list(range(1,11)) # range(1,11) means from 1 to inclusive 10, It will take store values into the list
print(a)
for x in a:
  if x>0:
    print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10

In [ ]:
a=[1,2,3,4,5]  # Sample List

print("First Element: ", a[0])
print("Last two elements: ",a[-1],a[-2])

#Slicing 
#a[start:end+1:step]
#start default=0
#end default=lenght of list
#step default=1

print("With Start and Stop: ",a[1:4]) #starts at index 1 stops at 3
print("Only start: ",a[2:]) #from 2nd index till end
print("Only Stop: ",a[:3]) #till index 2

print("Negative slice: ", a[1:-2])
print("Slice with no end but step of 2:",a[0::2])

print(5 in a,6 not in a) #in membership operator

First Element:  1
Last two elements:  5 4
With Start and Stop:  [2, 3, 4]
Only start:  [3, 4, 5]
Only Stop:  [1, 2, 3]
Negative slice:  [2, 3]
Slice with no end but step of 2: [1, 3, 5]
True True

In [ ]:
a=[2,0,4,6,8,10]  # Simple example
b=[x for x in range(11) if x%2==0]
print(a==b)

False

In [ ]:
mainlist=[[1,2,3],[4,5,6],[-1,7,8]]#-->[1,2,3,4,5,6,7,8]
l=[]
#Classic loops
for sublist in mainlist:
  for item in sublist:
    if item>0:
      l.append(item)
print(l)
#One liner with list comprehension
q=[item for sublist in mainlist for item in sublist if item>0]
print(q)
print(q[::-1])

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a=[1,2,3]
print(len(a)) #len() return length of whatever object is passed to it in this case a list
a.append(4)  # append() Adds an element at the end of the list
print("list append:",a)
b=[1,2,3]
b.clear()# clear()  Removes all the elements from the list
print("list clear:",b)

d=[4,5,6]
b=d  #expect b=[4,5,6]
d.append(4)
print("This is b without copying:",b)

c=d.copy()# copy()  Returns a copy of the list
d.append(3)
print("d:",d,"c:",c)


print(f"4 repeats {d.count(4)} times in {d}") # count() Returns the number of elements with the specified value
a=[1,2,3]
b=[4,5]
a.append(b)
print("with append:",a)
a=[1,2,3]
b=[4,5]
a.extend(b)# extend()   Add the elements of a list (or any iterable), to the end of the current list
print("With extend:",a)
print(f"First occurence of 4 is at index:{a.index(4)} in {a}")# index() Returns the index of the first element with the specified value

#list=[2,3,1,1,4,5]
#list.index(1)-->2

3
list append: [1, 2, 3, 4]
list clear: []
This is b without copying: [4, 5, 6, 4]
d: [4, 5, 6, 4, 3] c: [4, 5, 6, 4]
4 repeats 2 times in [4, 5, 6, 4, 3]
with append: [1, 2, 3, [4, 5]]
With extend: [1, 2, 3, 4, 5]
First occurence of 4 is at index:3 in [1, 2, 3, 4, 5]

In [ ]:
a=[1,2,3,4,5]
a.insert(2,'inserted') # insert()   Adds an element at the specified position
print("Insertion:",a) 
a=[1,2,3,4,5]
b=a.pop()# pop()    Removes the element at the specified position (default -1) and returns it
print("After pop: a:",a,"b:",b)
b=a.remove(2)# remove() Removes the first item with the specified value but does not return
print("After removal:",a,b)
a=[1,2,3]
a.reverse()# reverse()  Reverses the order of the list
print("reversed:",a)
a.sort(reverse=False)# sort()   Sorts the list
print("After sort:",a)
c=sorted(a,reverse=True)
print("After sorted:",c,a)
del(a)
#print(a)    ## Uncomment and execute to check error: a is not defined

Insertion: [1, 2, 'inserted', 3, 4, 5]
After pop: a: [1, 2, 3, 4] b: 5
After removal: [1, 3, 4] None
reversed: [3, 2, 1]
After sort: [1, 2, 3]
After sorted: [3, 2, 1] [1, 2, 3]

### **Dictionary**

In [ ]:
# keyword is not mutable
# how to define Dictionary
d={
    "1":"a",
   "2":"b",
   "3":"c"


} 
print(d["1"])
# print length of the dictionary
print("length of dictionary = ",len(d))


# check if key exits in dictionary
if "1" in d:
  print("yes")
else:
  print("no")


# extract all keys in dictionary
keys=d.keys()
print(keys)
print("\n")
for x in keys:
  print(x)

a
length of dictionary =  3
yes
dict_keys(['1', '2', '3'])


1
2
3

In [ ]:
# print all the elements in dictionary
d={
    "1":"a",
   "2":"b",
   "3":"c",
   4:"hello",
   (5,4,3):"hey",
    "hey":(5,4,3)

}
# print keys and value
for x in d:
  print("key = ",x," value ",d[x])

key =  1  value  a
key =  2  value  b
key =  3  value  c
key =  4  value  hello
key =  (5, 4, 3)  value  hey
key =  hey  value  (5, 4, 3)

In [ ]:
# how to delete the key
d={
    "1":"a",
   "2":"b",
   "3":5,
   4:"hello",
   (5,4,3):"hey"
}

# first way
del d["1"]
print(d)

# second way
d.pop(4)
print(d)

{'2': 'b', '3': 5, 4: 'hello', (5, 4, 3): 'hey'}
{'2': 'b', '3': 5, (5, 4, 3): 'hey'}

In [ ]:
# how to clear dictionary
d={
    "1":"a",
   "2":"b",
   "3":"c",
   4:"hello",
   (5,4,3):"hey"


}
print(d)
d.clear()
print(d)

{'1': 'a', '2': 'b', '3': 'c', 4: 'hello', (5, 4, 3): 'hey'}
{}

In [ ]:
# use of dictionary
#  calculate frequency
a=[1,2,4,5,7,3,4,5,2,1,3,5,2,3,6,7,2,1,4,3,5,6]


# # first define the dictionary with keywords as number
d={}
for x in a:
  if x in d:
    d[x]=d[x]+1
  else:
    d[x]=1
print(d)

{1: 3, 2: 4, 4: 3, 5: 4, 7: 2, 3: 4, 6: 2}

# **Function**

In [ ]:
def incre(a): # def function_name(arguments)
  a=a+1       # Statements
  #return a    # Return Statement

s=5
s=incre(s)
print(s)

def add(a,b):       ## Uncomment and execute
  return a+b

print(add(3,2))

None
5

In [ ]:
#All parameters (arguments) in the Python language are passed by reference


def changeme( mylist ):
   mylist[1]=50
   return

mylist = [1,2,3]
changeme(mylist)
print ("Values outside the function: ", mylist)

Values outside the function:  [1, 50, 3]

In [ ]:
# changes inside function

def changeme(mylist):
   mylist=[10,20,30]
   print(mylist)
   return

mylist = [1,2,3]
changeme(mylist=[1,2])
print ("Values outside the function: ", mylist)

#The parameter mylist is local to the function changeme

[10, 20, 30]
Values outside the function:  [1, 2, 3]

In [ ]:
# return statement in python
def call(d):
  return 1,d
r=0
a, c=call(r=20) 
print(a,c, sep="\n")

TypeError: ignored

In [ ]:
# Default Arguments
def printinfo( name, age = 18):
   print ("Name: ", name)
   print ("Age ", age)
   return
printinfo("Arjun",19)
printinfo("Arjun")

Name:  Arjun
Age  19
Name:  Arjun
Age  18

In [ ]:
#Scope of Variables

#Global vs Local variable

total=0  # Global Variable
def sum(a,b):
  total=a+b   # Local Variable, Total is assigned value inside the scope of function.
  print(total)
  return

sum(2,3)
print(total)

5
0

In [ ]:
a=[[1,2,3],[9,0,8],[6,0,0],[7,1,0]]
b=sorted(a,key=lambda x:[x[-1],x[-2]]) # Syntax for sorted() is sorted(iterable, key=None, reverse=False) ## Iterable and reverse are optional
#b=sorted(a) 
print(b) # Prints after sorting

[[6, 0, 0], [7, 1, 0], [1, 2, 3], [9, 0, 8]]

In [ ]:
a=[1, 3, 2, 10, 4]
print(sorted(a, ))

TypeError: ignored

In [ ]:
prime(5)

NameError: ignored

In [ ]:
a="hello I am the boy"
print(a[0:2])

he

In [ ]:
a='z'
print(ord(a))

122